
/* Header banner container */
.container : header{
	position : relative;
	text-align: center;
	font-family: "Courier New",Helvetica;
	width: 30%;
	height: 10%;
	
}
/*Universal elements */


footer {
	text-align: center;

}

body {
	position: relative;
	background-color : black;
}


.TextBackground{

    font-family: 'Coming Soon'; 
	animation: rainbow 0.5s infinite;
}

.container {
    text-align: center;
	background-size : cover;
	border : 1px solid black;
	color : #000000;
	background-color : black;
	background-image : url("../Images/Hopetoun_falls.jpg");
	background-repeat : repeat-x;
}
 
.glcontainer{

	position:relative;
	width: 100vw;
	height: 100vh;
	margin: 0;

}

.pagecontentgrid{
	position: absolute;
	display: grid; /* one percent */
	top : -1vw;
	grid-template-columns: 1vw 32vw 34vw 16vw 16vw 1vw; /*5*/
	grid-template-rows: 10vh 10vh auto auto auto auto 10vh; /* 8*/
	
}

#textWindow{

	grid-row-start: 2;
	grid-row-end : 5;
	grid-column-start : 2;
	grid-column-end: 5;
	overflow-y:auto;
	background: -webkit-linear-gradient(280deg,#0000F8,#00FF00);
	width: 100vw;
	height: 85vw;
	-webkit-background-clip:text;
	-webkit-text-fill-color: transparent;
	background-color: #70707022;
}

 
#dropdown ul { margin: 0; padding: 0; list-style: none;}

#dropdown li { margin: 0; padding: 0;}

#dropdown a { margin: 0; padding: 0;text-decoration: none;}

#dropdown {

	font-family: Verdana;
	height: 75px;
	background-color: #000000; 
	box-shadow: 0px 1px 1.5px rgba(0,0,0,.2);
	margin: auto;
	/*Grid settings */			
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 0;
	grid-row-end: 2;
	width: 100vw;
	/* Text settings*/		
	font-size : 32px;	
	line-height: normal;
	text-align: center;

	/*Border settings */
	border : solid;
	border-color : #0000FF;
	border-bottom : none;
	border-right: none;
	border-left: none;

}


#dropdown > ul {
    text-align:center;
	position:relative;
}

#dropdown > ul > li {

    display:inline-block;

    margin-left: 2vw;       

    position: relative;

}

#dropdown > ul > li:hover{
	background-image:linear-gradient(to bottom, #00FF0054, #0000FF54);
}

#dropdown > ul > li > a {

	background: -webkit-linear-gradient(280deg,#00FF00,#000056);
	
	-webkit-background-clip:text;
	
	-webkit-text-fill-color: transparent;

    line-height: 70px;		/* This bit chances the size of the text on the main heading */

    padding:  6px 32px;		/* This is the padding between the different titles */

    transition: color .15s;

}

#dropdown > ul ul > li > a > span {
	background: -webkit-linear-gradient(280deg,#00FF00,#000018);
	-webkit-background-clip:text;
	-webkit-text-fill-color: transparent;
	font-size: 26px;
	overflow:hidden;
	white-space: nowrap;
}

#dropdown > ul ul > li > a > span:hover 
{
	background: -webkit-linear-gradient(280deg,#00FF00,#00FF00);
	-webkit-background-clip:text;
	-webkit-text-fill-color: transparent;
}

#dropdown > ul > li > a:hover {color: #00FF00; }

#dropdown > ul > li > a { text-decoration : none;}

#dropdown > ul > li > ul { /*Dropdown effect window */

    opacity: 0;

    visibility: hidden;

    padding: 1vw 0 1vw 0;

    background-color: #000000;

    text-align: left;  

    position: absolute;

    top: 7vw;		

    left: 5vw;

    margin-left: -6vw;

    width: 14vw;

	transition: all .6s .2s;
	
	border-radius: 10px;
	
    box-shadow: 2px 1px 1px #0000FF56;

}

#dropdown > ul > li:hover > ul {

    opacity: 1;

    top: 80px;	
	width : 35vw;
	background-color : #000000;

    visibility: visible;

}

#dropdown > ul > li > ul:before{

    content: '';

    display: block;

    border-width: 15vw;  

    top: -50vw;

    left: 50vw;

    margin-left: -10px;

}

#dropdown ul ul > li{     

    font-family: Verdana, 'Lucida Grande';

	font-size : 16px;
	
    padding: 2vw 1vw 2vw 1vw;

    display: block;

	position: relative;
    transition: background-color .1s;

}

#dropdown > ul ul > li > a { text-decoration : none;}


@keyframes asdf{
	0% , 100%{
		color: #001F3F;
		}
	50%
	{ 
	color: #FF4136;
	}
}

@keyframes rainbow{
  0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	100%{color: blue;}
	100%{color: orange;}
}