
.TextBackground{

    font-family: 'Coming Soon'; 
	animation: rainbow 0.5s infinite;
}

.container {
    text-align: center;
	background-size : cover;
	border : 1px solid black;
	color : #000000;
	background-color : black;

}
 
#glcontainer{

	grid-row-start: 1;
	grid-row-end : 9;
	background-color: #000000;
	grid-column-start : 1;
	grid-column-end: 7;
	width: 100%;
	height : 100%;
	z-index: -5;
}

.pagecontentgrid{
	position: relative;
	display: grid; /* one percent */
	top : -1vw;
	padding: 0;
	margin: 0;
	grid-template-columns: 1vw 32vw 34vw 16vw 16vw 1vw; /*5*/
	grid-template-rows: 5vh 2vh 13vh 20vh 20vh 20vh 10vh 10vh; /* 9*/
	z-index: 2;
}

#textWindow{

	grid-row-start: 3;
	grid-row-end : 9;
	grid-column-start : 1;
	grid-column-end: 6;
	overflow-y:auto;
	overflow-x: auto;
	-webkit-text-fill-color: #00FF00;
	background-color: #4e5b6115;
}

 



@keyframes asdf{
	0% , 100%{
		color: #001F3F;
		}
	50%
	{ 
	color: #FF4136;
	}
}

@keyframes rainbow{
  0%{color: orange;}	
  10%{color: purple;}	
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	100%{color: blue;}
	100%{color: orange;}
}