/*attribute modifications*/



.container : header{
	position : relative;
	text-align: center;
	font-family: "Courier New",Helvetica;
	width: 30%;
	height: 10%;
	
}

 .container : button {
	width : auto;
    height : auto;
	max-height: 128px;
	max-width: 256px;

}
 
 .container : table, th{
padding: 8px;

}

.dropdown-content > ul{
text-align: center;
}

.dropdown-content > ul > li {
	display: inline-block;
	margin-left: 15px;
	position: relative;
}

.dropdown-content > ul > li > a {

    color: rgb(160,160,160);

    font-family: Verdana, 'Lucida Grande';

    font-size: 14px;

    line-height: 70px;		/* This bit chances the size of the text on the main heading */

    padding: 15px 24px;		/* This is the padding between the different titles */
}


/*Classes*/

.container {
    position: relative;
    text-align: center;
	background-size : cover;
	border : 2px solid black;
	color : #FFFFFF;
	background-image : url("../Images/Hopetoun_falls.jpg");
	background-repeat : repeat-x;
}

.dropdown {
	position: relative;
	display : inline-block;
	float: left;
	text-align: center;
	cursor: pointer;
	background-image : url("../Images/testbutton.jpg");
	vertical-align: middle;
	
}

.dropdown:not(:last-child){
		border-right: none;
}

.dropdown:after{
	content: "";
	clear: both;
	display: table;
}

.dropdown-content{
	display: none;
	margin-left: 15px;
	position : relative;
	min-width: 160px;
	box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.4);
}

.dropdown:hover .dropdown-content{
	display: inline-block;
    background-color: #FFFFFF;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.mid-left {
position : absolute;
top: 15%;
left: 0%;
}


.centered {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}