#dropdown ul { margin: 0; padding: 0; list-style: none;}

#dropdown li { margin: 0; padding: 0;}

#dropdown a { margin: 0; padding: 0;text-decoration: none;}

#dropdown {

	font-family: Verdana;
	height: 100%;
	background-color: #000000; 
	box-shadow: 0px 1px 1.5px rgba(0,0,0,.2);
	margin: auto;

	/*Grid settings */			
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 3;
	width: 100vw;

	/* Text settings*/		
	font-size : 1.5vw;	

	text-align: center;

	/*Border settings */
	border : solid;
	border-color : #0000FF;
	border-right: none;
	border-left: none;

}


#dropdown > ul {
    text-align:center;
	position:relative;

}

#dropdown > ul > li {

    display:inline-block;
	padding-top: 1.3vh;
    position: relative;

}

#dropdown > ul > li > a {

    line-height: normal;		/* This bit chances the size of the text on the main heading */
	color: rgba(95, 46, 255, 0.829);
    padding:  0 3vw;		/* This is the padding between the different titles */
	text-decoration : none;
    transition: color .15s;

}

#dropdown > ul > li > a:hover {color: #00FF00; }


#dropdown > ul > li > ul { /*Dropdown effect window */

    opacity: 0;

    visibility: hidden;

    background-color: #000000;

    text-align: left;  

    position: absolute;

    top: 6vh;		

    left: 1vw;

    width: 3vw;

	transition: all .6s .2s;
	
	border-radius: 1vw;
	


}

#dropdown > ul > li:hover > ul {

    opacity: 1;
    top: 7vh;	
	width : 11vw;
	background-color : #000000;
    visibility: visible;
	margin-left: 1vw;

}

#dropdown > ul > li > ul:before{

    content: '';

    display: block;

    margin-left: -10px;

}

#dropdown > ul ul > li{
	padding-bottom: 1vh;
	padding-top: 0vh;
	padding-left: 1vw;
}

#dropdown > ul ul > li > a > span {

	color: rgba(95, 46, 255, 0.829);
	font-size: 1vw;

	white-space: nowrap;
}

#dropdown > ul ul > li > a > span:hover 
{
	-webkit-text-fill-color: #00FF00;

}

#dropdown > ul ul > li > a { text-decoration : none;}