canvas {
	border-bottom: 3px solid blue;
	background-color: red transparent;
}
video
{
	display: none;
}

p{
	padding: 0 20vw 0 20vw;
}

footer {
	text-align: center;
	position: relative;
	z-index: 2;
}


body {
	
	margin: 0;

	position:relative;
	overflow-x: hidden;
	background-color : black;
	z-index: 1;
}