 
   h1 {
	   background: -webkit-linear-gradient(280deg,#00FF00,#000018);
	   -webkit-background-clip:text;
	   -webkit-text-fill-color: transparent;
   }
   
   p
   {
	   font-size: 18px;
   }
   
   a{
	   text-decoration: none;
   }
   