.MorMor  {
	
	grid-row-start: 3;
	grid-row-end : 4;
	grid-column-start : 3;
	grid-column-end: 5;

	background-color: #005500;
}

#XD
{
	width: 50vw;
	height: 50vh;
}

#MorMor  table  tr {
	text-align: center;
	color : #FF0000;
}


#div1,#div2{

float:left;
width: 200px;
height : 50px;
margin: 0.1em;
padding: 0.1em;
border:2px solid black;
}