#MorMor {
	
	position:relative;
	width: 100%;
	height : 192px;
	background-color: #000000;
}

#MorMor > table{
	vertical-align: middle;
	width: 100%;
	box-shadow: 2px 3px #FFFF00;
}

#MorMor  table  tr {
	text-align: center;
	color : #FF0000;
}
#XD {
	width: 400px;
	height: 400px;
}
#div1,#div2{

float:left;
width: 200px;
height : 50px;
margin: 0.1em;
padding: 0.1em;
border:2px solid black;
}